# Ignore Play! working directory #
bin/
/db
.eclipse
/lib/
/logs/
/modules
/project/target
/target
tmp/
test-result
server.pid
*.eml
/dist/
.cache
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
.launch
.log

.sbtserver
.externalToolBuilders
/project/project
